{% extends "base.html" %}
{% load static %}

{% block title %}Laptop{% endblock title %}

{% block content %}

<div class="selectlaptopcontainer">
    <h3 class="text-center bg-primary text-white py-2">All Laptops Are Here</h3>
    <div class="filterhead">
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter By
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'laptop' %}">All Laptops</a></li>
              <li><a class="dropdown-item" href="{% url 'laptop' 'hplaptop' %}">Hp Laptop</a></li>
              <li><a class="dropdown-item" href="{% url 'laptop' 'acer' %}">Acer Laptop</a></li>
              <li><a class="dropdown-item" href="{% url 'laptop' 'lessthan30k' %}">Laptops Lesser Than 30,000</a></li>
              <li><a class="dropdown-item" href="{% url 'laptop' 'greatthan30k' %}">Laptops Greater Than 30,000</a></li>
            </ul>
        </div>
    </div>
    <div class="laptopoptions">
        <div class="alllaptops">
            {% for obj in laptops %}
            <a href="{% url 'productdetails' obj.id %}">
            <div class="laptopcard">
                <img src="{{obj.image.url}}" alt="">
                <h4>{{obj.product_name|slice:":15"}}...</h4>
                <p class="d-inline m-0">Price : <p class="d-inline text-decoration-line-through m-0">&#8377;{{obj.original_price}}</p> <h6 class="d-inline m-0">&#8377;{{obj.discounted_price}}</h6></p>
                <a href="{% url 'buynow' obj.id %}" class="btn btn-success">Buy Now</a>
            </div>
        </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}