{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <h3 class="text-center bg-primary text-white mt-3 py-2 mx-3">E-commerceX</h3> -->

<div class="logincontainer">
    <div class="logininnercontainer">
        <h3 class="loginhead text-white text-center">Password Change Done</h3>
        <div class="loginform">
            <div class="alert alert-info text-center" role="alert">
                Your Password Has Changed Succesfully!<br><a class="text-danger" href="{% url 'login' %}">Log In Again</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}